/* Font - Work Sans  */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Font - Work Sans */
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global -- Shared Styles  */
.display-flex {
  display: flex;
}

.text-grey {
    color: #424242;
}
.text-primary {
    color: #FF900E;
}
.text-light-grey{
    color: #727272;
}
.bg-light {
    background: rgba(255, 144, 14, 0.1);
}
.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    padding: 20px 25px;

}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main >section {
    margin-top: 80px;
}

/* Header Styles  */

/* navbar related styles  */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-items {
    list-style: none;
    margin-right: 30px;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

.navbar, .banner{
    max-width:1440px;
    margin: 0 auto;
}

/* banner related styles  */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.banner-title {
    font-size: 3rem;
    font-weight: 700;
}

.banner img {
    width: 100%;

}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .navbar, .nav-links {
        flex-direction: column;
    }
}

/* main section styles  */

/* team and features related styles  */

.teams {
    
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 80%; */
    /* margin: 0 auto; */
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-features {
    margin-left: 30px;
    max-width: 530px;
}

.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list {
    font-weight: 500;
}

/* responsive media query of team */

@media screen and (max-width: 576px) {
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .our-features {
        text-align: center;
        /* justify-content: center; */
        /* align-items: center; */
        margin-left: 0;
    }
    
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
    .team-img-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .our-features {
        text-align: center;
        margin-left: 0;
    }
}